@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");

:root {
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

/* .quiz{
    background-color: #5ad260;
    padding: 30px;
    
} */

.quiz {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(45deg, #ef5050, #48ca48, #da0dae);
    background-size: 300% 300%;
    animation: pulse 5s ease infinite;
    
}

@keyframes pulse {

    0%,
    100% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

.heading {
    margin: 10px auto 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    position: sticky;
    height: 10vh;

}

.heading .title {
    
    font-size: 40px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
}

.heading .subtitle {
    font-size: 25px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
}

.result {
    text-align: center;
    min-width: 350px;
    max-width: 400px;
    height: auto;
    margin: 20px auto;
    border-radius: 5px;
    background-color: #fefcfc;
    box-shadow: var(--box-shadow);
}

.result p:first-child {
    padding: 10px 20px;
}

.hide {
    display: none;
}

.reload button {
    background-color: #169090;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    border: 0px;
}

.reload button:hover {
    background-color: #38c08e;
    cursor: pointer;
}

.quiz-form {
    max-width: 1000px;
    margin: auto;
}

.question {
    background-color: rgba(251, 247, 247, 0.908);
    color: rgb(11, 11, 11);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: var(--box-shadow);

}

.question>* {
    font-size: 18px;
    /* font-size: 20px; */
}

.option {
    margin-left: 10px;
}

.correct {
    background-color: #b2efcb;
}

.wrong {
    background-color: #f2c8c8;
}

.submit {
    text-align: center;
    margin: 30px 0px;
}

.submit input {
    background-color: #249f34;
    padding: 5px 25px;
    color: #ffffff;
    font-size: 22px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    border: 0px;
}

.submit input:hover {
    background-color: #c3db50;
    cursor: pointer;
}

.correct-option {
    background-color: #b2efcb;
}

.question:hover{
    border: 2px solid rgb(15, 15, 15);
}

#scrolltoTop{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px; 
    z-index: 99;
    cursor: pointer; 
    border-radius: 10px;
    border: 2px solid black; 
    font-size: 20px;
    font-weight: bold;
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
    transition: all 1s ease;
}